<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698581759272-cakskiogc9fd6tu4tv82hs516je6sjs5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698581759272-cakskiogc9fd6tu4tv82hs516je6sjs5</string>
	<key>API_KEY</key>
	<string>AIzaSyB2TGle1RLEAX2Z5AE2CxmC8c0Nmtngo2I</string>
	<key>GCM_SENDER_ID</key>
	<string>698581759272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.suyeon.HowlTalk</string>
	<key>PROJECT_ID</key>
	<string>howltalk-f53af</string>
	<key>STORAGE_BUCKET</key>
	<string>howltalk-f53af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698581759272:ios:ae023765a0bbca5e</string>
	<key>DATABASE_URL</key>
	<string>https://howltalk-f53af.firebaseio.com</string>
</dict>
</plist>